table{
    font-family: "Yu Gothic UI Semilight";
    text-align: center;
    border-collapse: collapse;
}
td, th{
    padding: 10px;
    border: 1px solid lightpink;
}
.first th {
    color:white;
}
th:first-child{
    background-color: papayawhip;
}
th:nth-child(2){
    background-color: pink;
}
th:nth-child(3)
{
    background-color: lightpink;
}
th:nth-child(4)
{
    background-color: hotpink;
}
th:nth-child(5)
{
    background-color: deeppink;
}
.second td{
    background-color: navajowhite;
}
.third td{
    background-color: ghostwhite;
}
td:first-child{
    color:white;
    background-color: firebrick;
}
